.login-card{
    margin: 20px auto;
    max-width: 512px;
}

.login-card h3, .login-card h6{
    text-align: center;
}

.dropdown-menu-right{
    right: 0;
    left: auto;
}

a.disabled{
    pointer-events: none;
    opacity: 0.6;
}

.pagination{
    margin-bottom: 0 !important;
}