<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> No title specified</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index')}}">Bloggers of Leeds</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPostsDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Posts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarPostsDropdown">
                        <h6 class="dropdown-header">View posts from</h6>
                        <a class="dropdown-item link-3-days">Last 72 hrs</a>
                        <a class="dropdown-item link-last-week">Last week</a>
                        <a class="dropdown-item link-last-month">Last month</a>
                        <a class="dropdown-item" href="/posts">All Time</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">View posts ordered by</h6>
                        <a class="dropdown-item" href="/posts?order_by=most_popular">Most popular</a>
                        <a class="dropdown-item" href="/posts?order_by=most_popular">Least popular</a>
                    </div>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarUserDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Welcome back, {{current_user.firstname}} {{current_user.lastname}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                    <h6 class="dropdown-header">Profile</h6>
                    <a class="dropdown-item" href="/posts?author={{current_user.id}}">Your Posts</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Actions</h6>
                    <a class="dropdown-item text-danger" href="/logout">Sign out</a>
                </div>
            </div>
            {% else %}
            <a class="btn btn-primary mr-2" href="{{ url_for('register')}}">Sign up</a>
            <a class="btn btn-default" href="{{ url_for('login')}}">Log in</a>
            {% endif %}

        </div>
    </div>

</nav>
<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="{{url_for('static', filename='posts.js')}}"></script>
{% if current_user.is_authenticated %}
<script type="text/javascript">
    setUserId("{{current_user.id}}");
    initializeUrls("{{ url_for('add_category') }}");

    window.addEventListener('load', function(){
        window.cookieconsent.initialise({
            'palette': {
                'popup': {
                    "text": "#004085",
                    "background": "#cce5ff"
                },
                "button":{
                    "text": "#FFFFFF",
                    "background": "#007bff"
                }
            },
            "content": {
                "message": "This website uses cookies to ensure you get the best experience on our website by storing user information in our cookies.",
                "dismiss": "OK!"
            }
        })
    })

    $(document).ready(function () {
        authorizationHeader("{{current_user.api_key}}");
        $(".link-3-days").attr('href', '/posts?after=' + moment().startOf('day').subtract(3, 'days').format('YYYY-MM-DD'))
        $(".link-last-week").attr('href', '/posts?after=' + moment().startOf('day').subtract(1, 'week').format('YYYY-MM-DD'))
        $(".link-last-month").attr('href', '/posts?after=' + moment().startOf('day').subtract(1, 'month').format('YYYY-MM-DD'))
    });
</script>
{% endif %}
</body>
</html>