{% extends 'base.html' %}
{% block content %}
    <h1>
        Categories
    </h1>
<div class="row">
    {% for category in categories %}
    <a class="card col-md-2 text-dark m-2" href="/posts?category={{category.id}}" style="text-decoration: none !important;">
            <div class="card-body">
                <h5 class="card-subtitle">{{ category.name }}</h5>
                <p class="card-text">{{ category.posts|length }} post{% if category.posts|length != 1 %}s{% endif %}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}