{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
<div class="card bg-light">
    <div class="card-body">
        <h3 class="card-title">Edit Post</h3>
        <h6 class="card-subtitle text-muted">Use this page to add to / update one of your posts</h6>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <form class="needs-validation" action="" method="post" id="edit-post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="title">Title</label>
                {{ form.title(class_="form-control is-invalid" if form.title.errors else "form-control",
                placeholder="Enter Post Title") }}
            </div>
            {% for error in form.title.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
                <label for="content">Content</label>
                {{ form.content(class_="form-control is-invalid" if form.content.errors else "form-control",
                placeholder="Enter Post Content") }}
            </div>
            {% for error in form.content.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="row">
                <div class="form-group col-md-10">
                    <label for="categories">Categories</label>
                    {{ form.categories(class_="form-control is-invalid" if form.categories.errors else "form-control",
                    placeholder="Select Post Categories") }}
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-center flex-column text-center">
                    <p class="text-muted">Don't see any categories that match your post?</p>
                    <button type="button" id="add-category-button" class="btn btn-default">Add one here</button>
                </div>
            </div>

            {% for error in form.categories.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="add-category-title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-category-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    {{form.csrf}}
                    <div class="form-group">
                        <label for="category-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="category-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-category-submit">Add Category</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#add-category-modal').on('shown.bs.modal', function () {
            $('#category-name').trigger('focus')
        });
        $("#add-category-button").on('click', function(e){
            $("#add-category-modal").modal('show');
        });
        $("#add-category-submit").on('click', function(){
            addCategory($("#category-name").val());
        })
    });

</script>
{% endwith %}
{% endblock %}