{% extends 'base.html' %}
{% block content %}
    <h1>Bloggers of Leeds!</h1>
    <p>Welcome, bloggers! This is a platform for you to write posts about what you're passionate about. You can post with any number of categories, and like / comment on other people's work!</p>
    <p>Feel free to sign up and get blogging!</p>
    <a class="btn btn-primary" href="{{url_for('register') if not current_user.is_authenticated else '/posts/new'}}">Let's get started!</a>
    <p class="text-muted"><small>This project was developed by Will Mann for the 2nd Coursework of the COMP2011 Module</small></p>
{% endblock %}