{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
<div class="card bg-light login-card">
    <div class="card-body">
        <h3 class="card-title">Login</h3>
        <h6 class="card-subtitle mb-2 text-muted">Sign in to write your own blogs!</h6>
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}
        <form class="needs-validation" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">Email Address</label>
                {{ form.email(class_="form-control is-invalid" if form.email.errors else "form-control",
                type="email", placeholder="Enter Email Address") }}
            </div>
            {% for error in form.email.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class_="form-control is-invalid" if form.password.errors else
                "form-control", type="password", placeholder="Enter Password") }}
            </div>
            {% for error in form.password.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between align-items-center">
                <div class="form-check">
                    {{form.remember_me(class_="form-check-input")}}
                    <label class="form-check-label" for="remember_me">Remember me?</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
        <a class="card-link" href="/register">Haven't got an account yet? Register here</a>
    </div>
</div>
{% endwith %}
{% endblock %}
