{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-2">
        <h1>{{post.title}}</h1>
        <h6 class="text-muted">Written by {{post.author.firstname}} {{post.author.lastname}}</h6>
        <div>
            {% for category in post.categories %}
                <span class="badge badge-primary">{{category.name}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-2">
        <div class="card-body row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="btn-group" role="group" aria-label="Controls">
                    <button class="btn btn-light post-likes" {% if not current_user.is_authenticated %}disabled{% endif%}>
                        <span class="post-likes-{{post.id}}">{{post.likes|count}}</span> <i
                            class="{% if current_user in post.likes %}fas{% else %}far{% endif %} fa-heart"></i>
                    </button>
                    {% if current_user.id == post.author.id %}
                    <a class="btn btn-primary" href="{{url_for('edit_post', post_id=post.id)}}">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    <button class="btn btn-danger delete-post">
                        <i class="fas fa-trash text-white"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <p class="card-text text-muted text-right"><small>Last updated: {{ post.updated_at|datetime}}</small>
                </p>
            </div>
        </div>
    </div>

    <div class="card w-100 my-4">
        <div class="card-body">
            <p class="card-text">
                {% autoescape false %}
                {{post.content}}
                {% endautoescape %}
            </p>
        </div>
    </div>

    <div class="my-2 card w-100">
        <div class="card-body row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="btn-group" role="group" aria-label="Controls">
                    <button class="btn btn-light btn-lg post-likes" {% if not current_user.is_authenticated %}disabled{%
                            endif%}>
                        <span class="post-likes-{{post.id}}">{{post.likes|count}}</span> <i
                            class="{% if current_user in post.likes %}fas{% else %}far{% endif %} fa-heart"></i>
                    </button>
                    {% if current_user.id == post.author.id %}
                    <a class="btn btn-primary btn-lg"  href="{{url_for('edit_post', post_id=post.id)}}">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    <button class="btn btn-danger btn-lg delete-post">
                        <i class="fas fa-trash text-white"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <p class="card-text text-muted text-right"><small>Created: {{ post.created_at|datetime}}</small></p>
                <p class="card-text text-muted text-right"><small>Last updated: {{ post.updated_at|datetime}}</small>
                </p>
            </div>
        </div>
    </div>
    <h4>Comments</h4>
    <div class="my-2 card w-100">
        <div class="card-body">
            <form id="new-comment-form">
                <div class="form-group">
                    <label for="new-comment-textarea">Add Comment</label>
                    <textarea id="new-comment-textarea" class="form-control"
                              placeholder="Please leave your comment here"></textarea>
                </div>
                <button class="btn btn-primary" id="new-comment-submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="comments" class="d-flex flex-column align-items-stretch justify-content-start w-100">
        {% for comment in post.comments %}
        <div class="card my-2">
            <div class="card-body">
                <p class="card-text">
                    {{comment.content}}
                </p>
                <div class="d-flex align-items-baseline justify-content-between">
                    <p class="card-text text-secondary"><small>{{comment.user.firstname}} {{comment.user.lastname}}</small>
                    </p>
                    <p class="card-text text-muted text-right"><small>{{comment.updated_at|datetime}}</small></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<div class="modal fade"  tabindex="-1" role="dialog" id="delete-post-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete this post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There's no recovering the data once it's gone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-post-confirm">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript">
        $(function () {
            $("#new-comment-form").submit(function () {
                addComment("{{url_for('new_comment', post_id=post.id)}}", $("#new-comment-textarea").val());
            });
            $(".delete-post").click(function(){
                $("#delete-post-modal").modal('show');
                $("#delete-post-confirm").focus();
            })
            $("#delete-post-confirm").click(function(){
                deletePost("{{ url_for('delete_post', post_id=post.id)}}");
            });
        })
    </script>
    {% endblock %}