{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1 class="col-md-8">
        Posts
    </h1>
    {% if current_user.is_authenticated %}
    <div class="card bg-light col-md-4">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h6 class="card-subtitle text-center">Want to add your own post?</h6>
            <a class="btn btn-primary mt-2" href="{{url_for('edit_post')}}">Write one here</a>
        </div>
    </div>
    {% endif %}
</div>
<div class="row my-2">
    <div class="col-md-2 mx-2 d-flex flex-column align-items-center justify-content-center">
    <nav aria-label="Posts pagination">
  <ul class="pagination">
    <li class="page-item"><a class="page-link {% if not posts.has_prev %}disabled{% endif%}" href="/posts?page={{posts.prev_num}}">Previous</a></li>
    <li class="page-item"><a class="page-link {% if not posts.has_next %}disabled{% endif%}" href="/posts?page={{posts.next_num}}" >Next</a></li>
  </ul>
</nav>
</div>
    <div class="col-md-2 dropdown mx-2 d-flex flex-column align-items-center justify-content-center">
                         <strong class="text-center">Posted before</strong>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAfterFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select posts before
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownAfterFilter">
        <a class="dropdown-item link-3-days">Last 72 hrs</a>
        <a class="dropdown-item link-last-week">Last week</a>
        <a class="dropdown-item link-last-month">Last month</a>
        <a class="dropdown-item" href="/posts">All Time</a>
  </div>
</div>
    <div class="col-md-2 dropdown mx-2 d-flex flex-column align-items-center justify-content-center">
                 <strong class="text-center">Written by</strong>
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownAuthorFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select author
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownAuthorFilter">
        {% for author in authors %}
      <a class="dropdown-item" href="/posts?author={{author.id}}">{{author.firstname}} {{author.lastname}}</a>
      {% endfor %}
  </div>
</div>
    <div class="col-md-2 dropdown mx-2 d-flex flex-column align-items-center justify-content-center">
           <strong class="text-center">Category</strong>
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownCategories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownCategories">
        {% for category in categories %}
      <a class="dropdown-item" href="/posts?category={{category.id}}">{{category.name}}</a>
      {% endfor %}
  </div>
</div>
     <div class="col-md-2 dropdown mx-2 d-flex flex-column align-items-center justify-content-center">
         <strong class="text-center">Sort by</strong>
  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownSortBy">
        <a class="dropdown-item" href="/posts?order_by=date">Date</a>
        <a class="dropdown-item" href="/posts?order_by=most_popular">Most Popular</a>
        <a class="dropdown-item" href="/posts?order_by=least_popular">Least Popular</a>
  </div>
</div>
</div>
<div class="row">
    {% for post in posts.items %}
    <a class="card col-md-3 text-dark m-2" style="text-decoration: none !important;"
       href="{{url_for('post', post_id=post.id)}}">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content[0:75]}}...</p>
            <div class="d-flex mb-2 justify-content-between align-items-baseline">
                <h6 class="card-subtitle text-muted">
                    {% if post.author.id == current_user.id%}
                    You
                    {% else %}
                    {{post.author.firstname}} {{post.author.lastname}}
                    {% endif %}
                </h6>
                <button class="btn btn-light btn-sm post-likes" {% if not current_user.is_authenticated %}disabled{%
                        endif%}>
                    <span class="post-likes-{{post.id}}">{{post.likes|count}}</span> <i
                        class="{% if current_user in post.likes %}fas{% else %}far{% endif %} fa-heart"></i>
                </button>
            </div>
            <p class="card-text text-muted"><small>Updated: {{ post.updated_at|datetime }}</small></p>
            <div>
                {% for category in post.categories %}
                    <span class="badge badge-primary">{{category.name}}</span>
                {% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% set author = request.args.get("author")|find_user_by_id %}
{% set category = request.args.get("category")|find_category_by_id %}
<script type="text/javascript">
    $(document).ready(function () {
        nameDropdowns();
    });

    function nameDropdowns(){
        const urlParams = new URLSearchParams(window.location.search);

        $("#dropdownAfterFilter").text(urlParams.get('after') ? moment(urlParams.get('after')).format('ddd Do MMM') : 'All Time');
        {% if author %}
                $("#dropdownAuthorFilter").text('{{ author.firstname }} {{ author.lastname }}')
        {% else %}
                $("#dropdownAuthorFilter").text('Select an author')
        {% endif %}

            {% if category %}
                $("#dropdownCategories").text('{{category.name}}');
        {% else %}
                $("#dropdownCategories").text('Select a category');
        {% endif %}

        let sortByText = '';
        switch(urlParams.get('order_by')){
            case 'most_popular':
                sortByText = 'Most Popular';
                break;
            case 'least_popular':
                sortByText = 'Least Popular';
                break;
            case 'date':
            default:
                sortByText = 'Date';
                break;
        }
        $("#dropdownSortBy").text(sortByText);
    }
</script>
{% endblock %}