{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
<div class="card bg-light login-card">
    <div class="card-body">
        <h3 class="card-title">Register</h3>
        <h6 class="card-subtitle mb-2 text-muted">Sign up for an account to write your own blogs!</h6>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <form class="needs-validation" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">Firstname</label>
                    {{ form.firstname(class_="form-control is-invalid" if form.firstname.errors else
                    "form-control", placeholder="John / Jane") }}
                </div>
                {% for error in form.firstname.errors %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
                <div class="form-group col-md-6">
                    <label for="lastname">Lastname</label>
                    {{ form.lastname(class_="form-control is-invalid" if form.lastname.errors else
                    "form-control", placeholder="Doe") }}
                </div>
                {% for error in form.lastname.errors %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                {{ form.email(class_="form-control is-invalid" if form.email.errors else "form-control",
                type="email", placeholder="test@example.com") }}
            </div>
            {% for error in form.email.errors %}
                <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class_="form-control is-invalid" if form.password.error else
                "form-control", type="password", placeholder="Enter Password") }}
            </div>
            {% for error in form.password.errors %}
                <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                {{ form.confirm_password(class_="form-control is-invalid" if form.confirm_password.errors else
                "form-control", type="password", placeholder="Confirm Password") }}
            </div>
            {% for error in form.confirm_password.errors %}
                <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between align-items-center">
                <div>
                </div>
                <button type="submit" class="btn btn-primary">Sign up!</button>
            </div>
        </form>
        <a class="card-link" href="/login">Already have an account? Sign in here</a>
    </div>
</div>
{% endwith %}
{% endblock %}
